

	h1, h2, h3, h4{
		color: #4C93FF;
	}

	a{
		color: #4C93FF;
		text-decoration: none 
	}

	}

	html {
		font-family: Arial;
		color: #4C93FF;
	}

	.box2{
		width: 600px;
		height: 150px;
		margin: 50px 50px;
		box-shadow: -1px 0 10px #000000;
		justify-content: space-between;
		/*background: #000;*/
		border-radius: 25px;
	}

	.box3{
		width: 600px;
		height: 150px;
		margin: 50px 50px;
		box-shadow: -1px 0 10px #000000;
		justify-content: space-between;
		/*background: #000;*/
		border-radius: 25px;
	}

}
h1{
	color: #4C93FF;
}
